# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
./hackathon-interface/node_modules

# testing
./hackathon-interface/coverage

# production
./hackathon-interface/build

# misc
.DS_Storew
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


arquivo-final.cvs
arquivo-final-minimizado.cvs
.vscode

